@import '@theme/variables.scss';

.toolButton {
    border: 0;
    border-radius: $b-radius;
    padding: 0;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: $transition;
    cursor: pointer;

    &:hover {
        background-color: $c-gray-5;
    }
}

.toolButtonActive {
    background-color: $c-prim-3 !important;
    cursor: default;
}