@import '@theme/variables.scss';

.logo {
    button {
        padding: 0 !important;
        background-color: $c-black;

        &:hover {
            background-color: $c-gray-4;
        }
    }

    img {
        width: 195px !important;
        height: auto;
    }
}