@import '@theme/variables.scss';

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.hamburgerBtn {
    display: none;
}

.navLinks {
    display: flex;
    align-items: center;
    gap: $m-xl;
    margin-left: $m-xl;

    a {
        color: $c-white !important;

        &:hover {
            color: $c-prim-3 !important;
        }
    }
}

.userBtn button {
    background-color: $c-black;

    &:hover {
        background-color: $c-gray-4;
    }
}

@media screen and (max-width: $bp-m) {
    .navigation {
        justify-content: end;
    }

    .hamburgerBtn {
        display: flex;

        button {
            background-color: $c-black;

            &:hover {
                background-color: $c-gray-4;
            }
        }
    }

    .navLinks {
        display: none;
    }

    .userBtn {
        display: none;
    }
}